---
// import { string } from 'astro:schema';
import '../styles/global.css';
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
		<link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white flex flex-col min-h-screen">
		<div class="fixed inset-0 -z-50 h-full w-full [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#52c_100%)]"></div>
		
		<Header />

		<main class="grow">
			<slot />
		</main>

		<Footer />
	</body>
</html>